trigger: none
pool: Infra-agent2
stages:
 - stage: StaticCodeAnalysis
   
   jobs:
    - job: SonarQubeAnalysis
      
      steps:
      - task: PowerShell@2
        displayName: SonarCodeAnalysis
        inputs:
          targetType: 'inline'
          script: |
            npm install -g @sonar/scan
            sonar -D sonar.host.url=http://localhost:9000 -D sonar.token=sqp_ca005f065ff35004dcd21ead96dd13a344a105ea -D sonar.projectKey=monolithic_app

 - stage: SoftwareCompositionAnalysis
   jobs:
    - job: DependencyVulnerabilityScan
      displayName: Dependency Vulnerability Scan (Retire.js)
      steps:
      - task: PowerShell@2
        inputs:
          targetType: 'inline'
          script: |
            npm install -g retire
            npm install
            retire --exitwith 0

 - stage: CodeQualityChecks
   jobs: 
    - job:
      displayName: LintingChecks
      steps:
      - task: PowerShell@2
        continueOnError: true
        displayName: JavaScript Linting (Biome)
        inputs:
          targetType: 'inline'
          script: |
            Invoke-WebRequest -Uri "https://github.com/biomejs/biome/releases/download/%40biomejs%2Fbiome%402.3.8/biome-win32-x64.exe" -OutFile "$(Agent.ToolsDirectory)/biome.exe"
             $(Agent.ToolsDirectory)/biome.exe lint $(System.DefaultWorkingDirectory)/src/

      - task: PowerShell@2
        continueOnError: true
        displayName: CSS Linting (Stylelint)
        inputs:
          targetType: 'inline'
          script: |
            npm install -g stylelint
            npm install -g stylelint-config-standard
            stylelint $(System.DefaultWorkingDirectory)/src --config stylelint.config.mjs

 - stage: BuildAndPackage
   jobs:
     - job: ApplicationBuild_publishBuildArtifact
       steps:
      #  - task: PowerShell@2
      #    displayName: dependency install and build
      #    inputs:
      #     targetType: 'inline'
      #     script: |
      #       npm install
      #       npm run build

      #  - task: PublishPipelineArtifact@1
      #    displayName: Publish artifact
      #    inputs:
      #     targetPath: '$(System.DefaultWorkingDirectory)/build'
      #     artifact: 'todo_UI'
      #     publishLocation: 'pipeline'

       - task: DownloadBuildArtifacts@1
         inputs:
           buildType: 'specific'
           project: '30935bf4-44cf-4d60-8e64-4095ed4f0c00'
           pipeline: '7'
           buildVersionToDownload: 'specific'
           buildId: '80'
           downloadType: 'single'
           artifactName: 'todo_UI'
           downloadPath: 'C:\build_file'

 - stage:
   displayName: deploy to dev_VM
   jobs:
    - job: deployTodev_VM
      steps:
      - task: CopyFilesOverSSH@0
        displayName: copy build to vm
        inputs:
          sshEndpoint: 'sshconnection'
          sourceFolder: '$(System.DefaultWorkingDirectory)/build'
          contents: '**'
          targetFolder: 'home/azureadmin/'
          readyTimeout: '20000'
      - task: SSH@0
        displayName: copy to Nginx web server
        inputs:
          sshEndpoint: 'sshconnection'
          runOptions: 'inline'
          inline: |
            sudo apt update
            sudo apt install nginx -y
            cp -r home/azureadmin/* var/www/html
          readyTimeout: '20000'