trigger:
- main
pool: Infra-agent2
stages:
 - stage: StaticCodeAnalysis
   displayName: stage1
   jobs:
    - job: SonarQubeAnalysis
      displayName: job1
      steps:
      - task: PowerShell@2
        displayName: SonarCodeAnalysis
        inputs:
          targetType: 'inline'
          script: |
            npm install -g @sonar/scan
            sonar -D sonar.host.url=http://localhost:9000 -D sonar.token=sqp_ca005f065ff35004dcd21ead96dd13a344a105ea -D sonar.projectKey=monolithic_app